absl-py==1.4.0
altgraph==0.17.4
attrs==23.1.0
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
comtypes==1.2.0
contourpy==1.1.0
cycler==0.11.0
Cython==3.0.0
docutils==0.20.1
EasyProcess==1.1
entrypoint2==1.1
flatbuffers==23.5.26
fonttools==4.42.0
idna==3.4
Kivy==2.2.1
kivy-deps.angle==0.3.3
kivy-deps.glew==0.3.1
kivy-deps.sdl2==0.6.0
Kivy-Garden==0.1.5
kivymd==1.2.0
kiwisolver==1.4.4
materialyoucolor==1.2.0
matplotlib==3.7.2
mediapipe==0.10.3
MouseInfo==0.1.3
mss==9.0.1
numpy==1.25.2
opencv-contrib-python==4.8.0.76
opencv-python==4.8.0.76
packaging==23.1
pefile==2023.2.7
Pillow==10.0.0
protobuf==3.20.3
pycparser==2.21
PyGetWindow==0.0.9
Pygments==2.16.1
PyMsgBox==1.0.9
pyparsing==3.0.9
pyperclip==1.8.2
pypiwin32==223
PyRect==0.2.0
pyscreenshot==3.1
PyScreeze==0.1.29
python-dateutil==2.8.2
pytweening==1.0.7
pywin32==306
pywin32-ctypes==0.2.2
requests==2.31.0
six==1.16.0
sounddevice==0.4.6
urllib3==2.0.4
watchdog==3.0.0
zstandard==0.21.0
dxcam @ git+https://github.com/Fleischkuechle/DXcam_some_extras.git@60ee445614dbb483c9cef31929e2e7cb3a5d14f0

